

.courses-section {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #bde0dc;
  display: flex;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.courses-section h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.course-card {
  background-color: white;
  border-radius: 12px;
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.course-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

.course-card p {
  font-size: 0.9rem;
  color: #77b6b0;
  background-color: #e0f7f5;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
}

.view-more {
  margin-top: 20px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.view-more:hover {
  color: #77b6b0;}


.green-bg {
  background-color: #9bd7d1;
}
.review-card {
  background-color: white;
}


.star-rating {
  color: #f4c150; 
  font-size: 30px; 
}

.reviewer-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reviewer-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.full-width-container {
  width: 100%; 
  margin-left: 0;
  margin-right: 0;
}
.testimonial-card {
  min-width: 250px; /* Set a minimum width for the cards */
  flex-grow: 1; /* Allow the cards to grow and shrink */
}
.testimonial-card img {
  width: 50px; 
  height: 50px;
}

.btn{
  background-color: darkblue;
}

.icon-color{
  color: #9bd7d1;
}